<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://kit.fontawesome.com/3907b1c5ee.js"></script>
        <link rel="stylesheet" href="/css/signup.css">
        <title>FoCo Pop! - Success</title>
    </head>
    
    <body>
        <div class="container-content">
            <div>
                <i class="far fa-thumbs-up"></i>
                <h1 class="container-message">Congrats, you have successfully subscribed!</h1>
            </div>
        </div>
        
         <div class="return-btn-div">
            <a href="/" class="return-btn">Home</a>
        </div>
    </body>
</html>
